{% extends 'app/base.html' %}
{% block msg %}
{% for msg in messages %}
      <div {% if msg.tags %} class = "text-center alert alert-{{msg.tags}}"  {% endif %}><strong>{{ msg}}</strong></div>
   {% endfor %}
{% endblock msg%}
{% block content %}
  <div class="col-sm-6 offset-sm-3">
   <h3 class ="text-center ">Registration</h3>
   {% if form.non_field_errors %}
    {% for error in  form.non_field_errors %}
        <div class =" alert alert-danger">{{error }}</div>
    {% endfor %}
   {% endif %}
   <form action="" method="post" novalidate class="shadow p-5 border mt-2">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group mb-">
        {{ field.label_tag}}
        {{ field }}
        <small style = "color:red">{{field.errors | striptags}}</small>
    </div>
    {% endfor %} 
    <input type="submit" class="btn btn-primary mt-4" value="Sign Up">
    <br>
    <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'signin'%}"
       class="text-danger">Login Now</a> </small></div>

   </form>
  </div>
{% endblock content %}